* {
    box-sizing:border-box;

}

html {
    background: #111;
    color: #fff;
    font-family: sans-serif;
    padding: 20px;
}

.face{
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    height: 296px;
    width: 296px;
    left: 52px;
    padding: 165px 40px 0;
    position: absolute;
    text-align: center;
    top: 52px;

}

.face h2 {
    font-weight: 300;
    color: silver;
    font-size: 20px;
}

.face p {
    border-radius: 20px;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    top: 17px;
    width: 260px;
    left: 20px;
}

.timer-group {
    height: 400px;
    margin: 0 auto;
    position: relative;
    width: 400px;
}

.timer {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: absolute;
}

.timer::after{
    background-color: #111;
    border-radius: 50%;
    content: "";
    display: block;
    height: 80px;
    left: 10px;
    position: absolute;
    width: 80px;
    top: 10px;
}

.timer ,hand{
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.timer , hand span{
    border: 50px solid rgba(0, 255, 255, .4);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    display: block;;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(225deg);
    width: 0;
}

.timer ,hand:first-child{
    transform: rotate(180deg);
}