* {
    box-sizing:border-box;

}

html {
    background: #111;
    color: #fff;
    font-family: sans-serif;
    padding: 20px;
}

.face{
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    height: 296px;
    width: 296px;
    left: 52px;
    padding: 165px 40px 0;
    position: absolute;
    text-align: center;
    top: 52px;

}

.clock.paused {
    animation-play-state: paused;
}

.face h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
}

.face p {
    border-radius: 20px;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    top: 17px;
    width: 260px;
    left: 20px;
}

.timer-group {
    height: 400px;
    margin: 0 auto;
    position: relative;
    width: 400px;
}

.timer {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: absolute;
}

.timer:after{
    background-color: #111;
    border-radius: 50%;
    content : "";
    display: block;
    height: 80px;
    left: 10px;
    position: absolute;
    width: 80px;
    top: 10px;
}

.timer .hand{
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.timer .hand span{
    border: 50px solid rgba(0, 255, 255, .4);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    display: block;;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(225deg);
    width: 0;
   
}

.timer .hand:first-child{
    transform: rotate(180deg);
}

.timer .hand span{
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.timer .hand:first-child span{
    animation-name: spin1;
}

.timer .hand:last-child span{
    animation-name: spin2;
}

.timer.second{
    background: rgba(0, 0, 0, .2);
    height: 300px;
    width: 300px;
    left: 50px;
    top: 50px;
}

.timer.second .hand span{
    animation-duration: 1s;
    border-top-color: rgba(255, 255, 255, .15);
    border-right-color: rgba(255, 255, 255, .15);
    border-width: 150px;
}

.timer.second:after{
    height: 296px;
    left: 2px;
    width: 296px;
    top: 2px;
}

.timer.minute{
    background-color: rgba(0, 0, 0, .2);
    height: 350px;
    left: 25px;
    width: 350px;
    top: 25px;
}

.timer.minute .hand span{
    animation-play-state: paused;
    animation-duration: 60s;
    border-top-color: rgba(0, 255, 255, .4);
    border-right-color: rgba(0, 255, 255, .4);
    border-width: 175px;
}

.timer.minute:after{
    height: 310px;
    left: 20px;
    width: 310px;
    top: 20px;
}

.timer.hour{
    background: rgba(0, 0, 0, .3);
    height: 400px;
    left: 0;
    width: 400px;
    top: 0;
}

.timer.hour .hand span {
    animation-duration: 3600s;
    border-top-color: rgba(255, 0, 255, .4);
    border-right-color: rgba(255, 0, 255, .4);
    border-width: 200px;
}

.timer.hour:after{
    height: 360px;
    width: 360px;
    left: 20px;
    top: 20px;
}
.timer .hand.paused span {
    animation-play-state: paused;
  }

@keyframes spin1 {
    0% {
        transform: rotate(225deg);
    }
    50%{
        transform: rotate(225deg);
    }
    100%{
        transform: rotate(405deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(225deg);
    }
    50%{
        transform: rotate(405deg);
    }
    100%{
        transform: rotate(405deg);
    }
}

#buttons {
    text-align: center;
  }

  button {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 255, 255, .4);
    color: white;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin: auto;
    cursor: pointer;
    width: 100px;
    height: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
  }

  
  #log {
    background: rgba(0, 0, 0, .1);
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1em;
    font-size: 1.2rem;
  }

  #log p {
    color: #ffffff;
    font-size: large;
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }